{% extends 'base.html' %}

{% block content %}

<h1>Hello {{name}}!!!</h1>

<form action="add" method="post">

    {% csrf_token %}

    Enter 1st number : <input type="text" name="num1" placeholder="First Number"><br>
    Enter 2nd number : <input type="text" name="num2" placeholder="Second Number"><br>
    <input style="color:#fff;background-color: #0d6efd;border-color: #0d6efd;" type="submit" value="Add">
    <input style="color: #fff;background-color: #198754;border-color: #198754;" type="submit" value="Multiply"
        formaction="multiply">

</form>

{% endblock %}