<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>

<body>
    <form action="register" method="post">
        {% csrf_token %}
        First Name : <input type="text" name="first_name" placeholder="First Name"><br>
        Last Name : <input type="text" name="last_name" placeholder="Last Name"><br>
        Username : <input type="text" name="username" placeholder="Username"><br>
        Email : <input type="email" name="email" placeholder="Email"><br>
        Password : <input type="password" name="password" placeholder="Password"><br>
        Re-enter Password : <input type="password" name="confirm_password" placeholder="Confirm Password"><br>
        <input style="color:#fff;background-color: #0d6efd;" type="submit" value="Register">
    </form>
</body>

</html>